[user]
	name = Jan Krag
	email = jankrag@gmail.com
[core]
	excludesfile = /Users/jankrag/.gitignore_global
	quotepath = off
	precomposeunicode = true
	autocrlf = input
	#whitespace = cr-at-eol
	#safecrlf = true
 [difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[alias]
	# fetch and show what would be merged (use option "-p" to see patch)
    incoming = "!git remote update -p; git log ..@{u}"
    in = "!git remote update -p; git log ..@{u}"

    # what would be pushed (currently committed); see also alias difr
    outgoing = log @{u}..
    out = log @{u}..
	st = status
	rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
	ss = status -sb
	slog = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short --decorate
	summary = log --pretty=format:'Commit: %h %d%nParents: %p%nAuthor: %aN <%ae>%nMessage: %s%n%b' -1
	sum = summary
	wdiff = diff -w --word-diff=color
	#glog = log --oneline --abbrev-commit --all --graph --decorate
	glog = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short --decorate --all --graph
	remotebranch = rev-parse --symbolic-full-name --abbrev-ref @{u}
	cbranch = rev-parse --abbrev-ref HEAD
	curbranch = symbolic-ref --short HEAD
	branches = "for-each-ref --sort=-committerdate --format='%1B[32m%(committerdate:iso8601) %1B[34m%(committerdate:relative) %1B[0;m%(refname:short)' refs/heads/"
	last = show -s HEAD^{commit}
	lastm = "!git last | tail -n+5 | sed -e 's/^[ \t]*//'"
	lastpb = "!git lastm | perl -ne 'chomp and print' | pbcopy"
[color]
	ui = true
[diff]
	wordregex = [[:alnum:]]+|[^[:space:]]
[color "diff"]
	new = cyan bold
[diff "xlsconv"]
	textconv=xls2csv
[diff "pdfconv"]
	textconv=pdftohtml -stdout
[diff "docconv"]
	textconv=catdoc
[diff "zip"]
	textconv=unzip -c -a
[diff "exif"]
	textconv=exiftool

